{% extends "base.html" %}
{% block title %}TVLens{% endblock %}
{% block content %}
<div class="page-header">
    <h1>TVLens</h1>
    <p>MovieLens-inspired TV show recommendations</p>
</div>

{% include "shows/_row.html" with title="Popular" shows=popular %}
{% include "shows/_row.html" with title="Highest rated" shows=top_rated %}
{% include "shows/_row.html" with title="Recently added" shows=recently_added %}

{% if genres %}
<section class="row">
    <h2 class="row-title">Browse by genre</h2>
    <div class="genre-pills">
        {% for g in genres %}
        <a href="#" class="genre-pill">{{ g.name }} <span>{{ g.n }}</span></a>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}
